$color-black: #333333;
$color-black-000: #000000;
$color-black-100: #111111;
$color-black-50: #11111180;
$color-black-60: #11111199;
$color-white-50: #ffffff80;
$color-white-60: #ffffff99;
$color-white-70: #ffffffb2;
$color-white-80: #ffffffcc;
$color-black-3350: #33333380;

$color-black-29: #292929;
$color-black-2960: #29292999;
$brand-color: #00bec5;
$color-white: #ffffff;
$border-color: #f36522;
$bg-color-black: #111111;
$font-weight400: 400;
$font-weight500: 500;
$font-weight600: 600;
$font-weight700: 700;
$transition: all 0.3s ease-in-out;
$font-family-karla: "Karla", sans-serif;
$font-family-sora: "Sora", sans-serif;
$box-shadow: rgba(0, 190, 197, 0.3) 0px 5px 15px 4px;